<% if @team.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@team.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%=form_for @team do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :members %>
<br>
<%=f.collection_check_boxes(:members, User.all, :id, :name, {:checked=> @team.members.map(&:id)})%><br>
<br>
<%= f.label "This is an Active Team" %>
<%= f.check_box :active %>
<br>
<%=f.submit%>
<%end%>