<% if @meeting.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@meeting.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @meeting.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%=form_for(@meeting, url: @path) do |f| %>
  <%= f.label :time %>
  <%= f.datetime_select :time, ampm: true, prompt: true, start_year: 2016 %><br>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location, list: "existing_locations" %><br>
  <datalist id="existing_locations">
    <%= Meeting.existing_locations.each do |location| %>
      <option value="<%= location %>">
    <% end %>
  </datalist>
 
  <br>
  <%= f.label :note %>
  <%= f.fields_for :notes do |note_fields| %>
    <%= note_fields.text_area :content %>
    <%= note_fields.hidden_field :author_id, :value => current_user.id %>
    <%= note_fields.hidden_field :id, :value => @note_id %>
  <% end %>
  <br>
<%=f.submit%>
<%end%>