<h1>Meeting</h1>
<h2>Team: <%= @meeting.team.name %></h2>
<h3>Date: <%= format_date(@meeting.time) %></h3>
<h3>Time: <%= format_time(@meeting.time) %></h3>
<% if @meeting.location != nil %>
<h3>Location: <%= @meeting.location %></h3>
<%else%>
<h3>Location: TBD. </h3>
<%end%>
<h3>Meeting Notes:</h3>
<% @meeting.notes.each do |n| %>
  <h4><%=n.author.name%>: <%=n.content%> | <% if n.author == current_user %> <%=link_to "Edit this Note",  edit_team_meeting_note_path(@meeting.team, @meeting, n)%> | <%=link_to "Delete this Note", note_path(n), method: :delete%> <%end%></h4>
<%end%>
<div id="noteform"></div>
<button id="addnote">Add Note</button>
<h3><%=link_to "Add a Note", new_team_meeting_note_path(@meeting.team, @meeting)%></h3>

<h3><%=link_to "Return to Team Page", team_path(@meeting.team)%></h3>
<h3><%=link_to "Edit this Meeting", edit_team_meeting_path(@meeting.team, @meeting)%> </h3>
<h3><%=link_to "Cancel this Meeting", team_meeting_path(@meeting.team, @meeting), method: :delete %> </h3>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#addnote').click(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/products', values);
 
      posting.done(function(data) {
        var product = data["product"];
        $("#productName").text(product["name"]);
        $("#productPrice").text("$" + product["price"]);
        $("#productInventory").text(product["inventory"]);
        $("#productBody").text(product["description"]);
      });
    });
  });
</script>