<a href="#" class="js-next" data-teamid="<%=@meeting.team_id%>" data-id="<%=@meeting.id%>">| Next Meeting</a>
<h1>Meeting</h1>
<h2 id="meetingTeam">Team: <%= @meeting.team.name %></h2>
<h3 id="meetingDate">Date: <%= format_date(@meeting.time) %></h3>
<h3 id="meetingTime">Time: <%= format_time(@meeting.time) %></h3>
<% if @meeting.location != nil %>
<h3 id="meetingLocation">Location: <%= @meeting.location %></h3>
<%else%>
<h3>Location: TBD. </h3>
<%end%>
<div id="shownotes">
<h3>Meeting Notes:</h3>
<% @meeting.notes.each do |n| %>
  <h4><%=n.author.name%>: <%=n.content%> | <% if n.author == current_user %> <%=link_to "Edit this Note",  edit_team_meeting_note_path(@meeting.team, @meeting, n)%> | <%=link_to "Delete this Note", note_path(n), method: :delete%> <%end%></h4>
<%end%>
</div>
<div id="noteform"><%= render 'notes/form' %></div>
<button id="addnote">Add Note</button>

<h3><%=link_to "Return to Team Page", team_path(@meeting.team)%></h3>
<h3><%=link_to "Edit this Meeting", edit_team_meeting_path(@meeting.team, @meeting)%> </h3>
<h3><%=link_to "Cancel this Meeting", team_meeting_path(@meeting.team, @meeting), method: :delete %> </h3>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#noteform').hide();
    // $('#shownotes').html(showNotes());
    $(".js-next").on("click", function() {nextMeeting(event)});
    $('#addnote').click(function(event) {
      event.preventDefault();
      $('#noteform').show();
    });
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var meetingId = parseInt($(".js-next").attr("data-id"));
      var teamId = parseInt($(".js-next").attr("data-teamid"));
      var posting = $.post('/notes', values);
      posting.done(function(data) {
        $('#shownotes').append("<h4>" + data["author"]["name"] + ": " + data["content"] + `<a href="/teams/${teamId}/meetings/${meetingId}/notes/${data["id"]}/edit"> | Edit this Note </a>` + `<a href="/notes/${data["id"]}" data-method="delete"> | Delete this Note</a>` + "</h4>");
        $('#noteform').hide();
      });
    });
  });
</script>